body {
  background: #7DC2AD;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  }
  #title {
    font-size: 50px;
  }
#navbar {
  position: absolute;
  list-style-type: none;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #7DC2AD;
}
li.nav {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 20px;
}
li a {
  border-radius: 4px;
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
  display: in-line block;
 border: none;
 width: 100px;
 text-align: center;
 cursor: pointer;
 transition: all 0.5s;
 margin: 5px
}
li a:hover {
  background-color: #4e7a6d;
}
a {
  color: white;
  text-decoration: underlined;
}
p {
  font-size: 20px;
}
