body {
  background: #7DC2AD;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  }
  #title {
    font-size: 50px;
  }
#navbar {
  list-style-type: none;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  background-color: #85CDCA;
}
li.nav {

  float: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 20px;
}
li a {
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
  display: in-line block;
 border: none;
 width: 100px;
 text-align: center;
 cursor: pointer;
 transition: all 0.5s;
 margin: 5px
}
li a:hover {
  background-color: #ebca40;
}
a {
  color: white;
  text-decoration: underlined;
}
